body {
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    display: inline-block;
    border-radius: 10px;
}

#main h1 {
    display: inline;
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

.current-room {
    float: right;
    display: inline;
    font-size: 90%;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.controls {
    width: 80%;
    margin: auto;
}


.controls textarea {
    border-radius: 5px;
    text-align: center;
    font-size: 140%;
    margin: auto;
    width: 100%;
    display: block;
    resize: none;
}

.controls textarea:focus {
    outline: none;
}

.controls input, .controls button {
    margin: 10px 0 0 0;
    display: inline;
    border-radius: 4px;
    size: 120%;
}

.room-window, .friend-window {
    cursor: pointer;
    background-color: ;
}

.room-window {
    float: left;
    width: 20%;
    display: inline-block;

}
.room-list {
    list-style: none;
}

.friend-window {
    float: right;
    width: 20%;
    display: inline-block;
}

.friend-window ul {
    list-style: none;
}

.friend-post {
    color: purple;
    font-size: 120%;
}

.remove-friend {
    margin-left: 5px;
    color: red;
}