body {
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
    background-color: #eeeeee
}

ul {
    list-style: none;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    display: inline-block;
    border-radius: 10px;
    background-color: #ffffff
}

#main h1 {
    display: inline;
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

.current-room {
    float: right;
    display: inline;
    font-size: 90%;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.controls, .login {
    width: 80%;
    margin: auto;
}


.controls textarea {
    border-radius: 5px;
    text-align: center;
    font-size: 140%;
    margin: auto;
    width: 100%;
    display: block;
    resize: none;
}

.controls textarea:focus {
    outline: none;
}

.controls button {
    margin: 10px 0 0 0;
    display: inline;
    border-radius: 4px;
    size: 120%;
}

.room-window, .friend-window {
    cursor: pointer;
    background-color: #eeeeee;
    margin: 40px 0 0 0;
    border-radius: 10px;
}

.room-window {
    float: left;
    width: 20%;
    display: inline-block;

}
.room-list {
    list-style: none;
}

.friend-window {
    float: right;
    width: 20%;
    display: inline-block;
}

.friend-window ul {
    list-style: none;
}

.friend-post {
    color: purple;
    font-size: 120%;
}

.remove-friend {
    margin-left: 5px;
    color: red;
}

.username {
    font-style: bold;
    font-size: 80%;
    display: inline-block;
    width: 100%;
    border-top: 1px solid gray;
}

.message {
    margin: auto;
    font-size: 110%;
}

.time {
    line-height: 1px;
    opacity: .5;
    font-size: 50%;
    display: inline-block
}

div[data-id] {
    position: fixed;
    width: 30%;
    height: 60%;
    background-color: #999;
    border-radius:6px;
    top: 25%;
    overflow: scroll;
}

div[data-id="0"] {
    left: 5%;
    z-index: 5;
}

div[data-id="1"] {
    left: 35%;
    z-index: 5;
    
}

div[data-id="2"] {
    left: 65%;
    z-index: 5;

}